@model HTA.Models.Booking

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="BookingID" />
        <div class="form-group">
            <label asp-for="DevoteeMemID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DevoteeMemID" class="form-control" />
                <span asp-validation-for="DevoteeMemID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsApproved" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsApproved" class="form-control" />
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsPaid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsPaid" class="form-control" />
                <span asp-validation-for="IsPaid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApprovedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApprovedDate" class="form-control" />
                <span asp-validation-for="ApprovedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApprovedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApprovedBy" class="form-control" />
                <span asp-validation-for="ApprovedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateCreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastModified" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastModified" class="form-control" />
                <span asp-validation-for="LastModified" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastModifiedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastModifiedBy" class="form-control" />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IsActive" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReceiptId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ReceiptId" class="form-control" />
                <span asp-validation-for="ReceiptId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DevoteeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="DevoteeId" class="form-control" asp-items="ViewBag.DevoteeId"></select>
                <span asp-validation-for="DevoteeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
